* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
}

h1 {
    color: #111827;
    font-size: 2.25rem;
    font-weight: 600;
}

p {
    color: #4b5563;
    line-height: 1.5em;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0em;
    padding: 1em max(1em, calc((100% - 1216px)/2));
}

.page-even {
    background-color: #f8fbfb;
}

.tag {
    align-self: center;
    margin: 0.5em;
    padding: 0.25em 1.25em;
    border-radius: 0.75rem;
    background: #E5E7EB;
}

/* Header styling */
.header {
    padding: 1em;
}

/* Hero styling */
.hero-image-container {
    position: relative;
}

.hero-image {
    width: 15rem;
    border: 8px solid var(--Gray-Default, #FFF);
    background: var(--Gray-200, #E5E7EB);
}

.hero-border {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: -0.5em;
    right: -0.5em;
    background-color: #E5E7EB;
    z-index: -1;
}

.hero-name {
    margin-top: 1.5em;
}

.hero-location {
    display: flex;
    align-items: center;
}

.hero-location-icon {
    margin-right: 0.5em;
}

.hero-socials {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

/* About styling */

.about-portrait {
    align-self: center;
    width: 15em;
    margin-top: 1em;
    border: 8px solid var(--Gray-50, #F9FAFB);
}

.about-header {
    margin: 3em 0 1.5em 0;
    font-size: 1.5rem;
}

.about-text {
    margin-top: 0;
}

/* Skills styling */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5em 2em;
    gap: 1em 3em;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-logo {
    width: 4rem;
    transition: all 0.3s ease-in-out;
}

.skill-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Experiences styling */
.experience {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;
    margin: 1.5em 0;
    padding: 2em;
    background-color: #fff;
    color: #374151;
    line-height: 1.5em;
    border-radius: 0.75em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}

.experience-title {
    color: #111827;
    margin: 0;
}

.experience-logo {
    width: 100px;
}

.experience-logo:hover {
    cursor: pointer;
}

.experiences-btn {
    color: #FEFFFE;
    background-color: #7E56C3;
    text-decoration: none;
    padding: 0.65em 1em;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5em;
}

/* Projects styling */
.project {
    background-color: #f8fbfb;
    margin: 0.75em 0;
    padding: 2em;
    border-radius: 0.75em;
}

.project-image {
    width: 100%;
    border-radius: 0.75em;
    border: none;
    margin-bottom: 2em;
}

.project-skills-container {
    display: flex;
    flex-wrap: wrap;
}

.project-links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-link {
    color: #111827;
    text-decoration: none;
}

.project-link:hover {
    color: #7E56C3;
}