* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
}

h1 {
    color: #111827;
    font-size: 2.25rem;
    font-weight: 600;
}

p {
    color: #4b5563;
    line-height: 1.5em;
}

.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em max(1em, calc((100% - 1216px)/2));
}

.page-even {
    background-color: #f8fbfb;
}

.tag {
    align-self: center;
    margin: 0.5em;
    padding: 0.25em 1.25em;
    border-radius: 0.75rem;
    background-color: #E5E7EB;
}

button {
    border: none;
    background-color: transparent;
}

/* Dark mode styling */

.dark {
    background-color: #030712 !important;
}

.dark-even {
    background-color: #111827 !important;
}

.dark h1, .dark h2, .dark h3 {
    color: #F9FAFB !important;
}

.dark a {
    color: #F9FAFB !important;
}

.dark p, .dark li {
    color: #D1D5DB !important;
}

.dark .tag {
    background-color: #374151 !important;
}

.dark .icon {
    filter: invert(95%) sepia(7%) saturate(171%) hue-rotate(176deg) brightness(90%) contrast(92%);
}

.dark .card {
    background-color: #1F2937;
}

.dark .resume-btn {
    color: #111827;
    background-color: #F9FAFB;
}

.header-dark {
    border-bottom: 1px solid #1F2937 !important;
}

.header-dark .header-link-container {
    border-right: 1px solid #D1D5DB;
}

.sidebar-links-dark {
    border-top: 1px solid #1F2937 !important;
    border-bottom: 1px solid #1F2937 !important;
}

.resume-btn {
    width: 100%;
    color: #F9FAFB;
    font-weight: 500;
    background-color: #111827;
    border-radius: 0.75em;
    padding: 0.6em 1.2em;
}

.resume-btn:hover {
    cursor: pointer;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding: 1em;
    border-bottom: 1px solid #f8fbfb;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    padding: 1em max(1em, calc((100% - 1216px)/2));
}

.header-left {
    color: #111827;
    margin: 0;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 600;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-link-container {
    height: 100%;
    display: flex;
    gap: 1.5em;
    padding-right: 1.5em;
    border-right: 1px solid #111827;
}

.header-link {
    color: #4B5563;
    text-decoration: none;
}

.header-link:hover {
    color: #111827;
}

.header-theme-btn {
    margin: 0 1.5em;
}

.header-theme-btn:hover {
    cursor: pointer;
}

.header-theme, .sidebar-theme {
    width: 2.25em;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    color: black;
    background-color: white;
    z-index: 3;
    transition: right 0.5s ease;
}

.slide-in {
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: opacity 0.5s ease;
    z-index: 2;
}

.show {
    display: block;
    opacity: 1;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.sidebar h1 {
    margin: 0;
}

.sidebar-close-btn {
    padding: 0;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-top: 1em;
    padding: 0.5em 0;
    border-top: 2px solid #f3f4f6;
    border-bottom: 2px solid #f3f4f6;
}

.sidebar-row {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    text-decoration: none;
    color: inherit;
}

/* Hero styling */
.hero {
    padding-top: 8em;
    height: max(100vh);
}

.hero-image-container {
    position: relative;
}

.hero-image {
    width: 15rem;
    /* border: 8px solid var(--Gray-Default, #FFF); */
    background: var(--Gray-200, #E5E7EB);
}

.hero-border {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: -0.5em;
    right: -0.5em;
    background-color: #E5E7EB;
    z-index: -1;
}

.hero-text {
    max-width: 768px;
}

.hero-name {
    margin-top: 1.5em;
}

.hero-location {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.hero-location-icon {
    margin-right: 0.5em;
}

.hero-socials, .contact-socials {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    gap: 1em;
}

.hero-social-icon, .contact-social-icon {
    width: 2.25em;
    transition: all 0.3s ease-in-out;
}

.hero-social-icon:hover, .contact-social-icon:hover {
    transform: scale(1.1);
}

/* About styling */
.about, .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-portrait {
    align-self: center;
    width: 15em;
    margin-top: 1em;
    /* border: 8px solid var(--Gray-50, #F9FAFB); */
}

.about-header {
    margin: 3em 0 1.5em 0;
    font-size: 1.5rem;
}

.about-text-container {
    margin: 1em;
}

.about-text {
    margin-top: 0;
}

/* Skills styling */
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    align-items: center;
    text-align: center;
    margin: 1.5em 2em;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-logo {
    width: 4rem;
    transition: all 0.3s ease-in-out;
}

.skill-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Experiences styling */
.experience {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;
    margin: 1.5em 0;
    padding: 2em;
    background-color: #fff;
    color: #374151;
    line-height: 1.5em;
    border-radius: 0.75em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}

.experience-title {
    color: #111827;
    margin: 1em 0;
}

.experience-logo {
    height: 2em;
}

.experience-logo:hover {
    cursor: pointer;
}

.experiences-btn {
    color: #FEFFFE;
    background-color: #7E56C3;
    text-decoration: none;
    padding: 0.65em 1em;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5em;
}

/* Projects styling */
.project {
    display: flex;
    flex-direction: column;
    background-color: #f8fbfb;
    margin: 0.75em 0;
    padding: 2em;
    border-radius: 0.75em;
}

.project-image {
    width: 100%;
    border-radius: 0.75em;
    border: none;
    margin-bottom: 2em;
}

.project-skills-container {
    display: flex;
    flex-wrap: wrap;
}

.project-links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-link {
    color: #111827;
    text-decoration: none;
}

.project-link:hover {
    color: #7E56C3;
}

/* Contact styling */
.contact {
    margin-bottom: 0;
    padding-bottom: 2em;
}

.contact-row {
    display: flex;
}

.contact-icon {
    width: 1.5rem;
}

.contact-text {
    margin: 0.25em 1.2em;
    font-size: 1.25rem;
    font-weight: 600;
}

.contact-btn {
    position: relative;
}

.contact-btn:hover {
    cursor: pointer;
}

.contact-copied {
    position: absolute;
    bottom: 2em;
    left: -1.5em;
    background-color: #E5E7EB;
    padding: 0.25em 0.5em;
    border-radius: 0.75em;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 1em max(5em, calc((100% - 1216px)/2));
    }

    .page {
        padding: 5em max(5em, calc((100% - 1216px)/2));
    }

    .hero {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: auto;
    }
    .hero-name {
        font-size: 2.5rem;
    }
    .hero-image {
        width: 17.5rem;
        margin-left: 3em;
    }

    .about-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        margin-top: 5em;
    }
    .about-portrait, .about-text-container, .about-header {
        align-self: start;
        margin-top: 0;
    }
    .about-text-container {
        margin-left: 6em;
    }

    .skills-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .experience {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 56rem;
        margin: 2em auto;
    }

    .experience-wide {
        max-width: 25em;
    }

    .project {
        flex-direction: row;
        gap: 8em;
    }
    .project-reverse {
        flex-direction: row-reverse;
    }
    .project-image {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .hero-name {
        font-size: 3.75rem;
    }

    .skills-container{
        grid-template-columns: repeat(7, 1fr);
        column-gap: 5em;
    }
}